.div-login {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
  color: white;
}
form {
  font-weight: 700;
}

#label-login {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  display: block;
}

.col-md-5 {
  margin-top: 6%;
  /* background: linear-gradient(to right bottom, #ff8522, #f5b771); */
  background: linear-gradient(to right bottom, #ff8522, #00bcd4);
  border-radius: 30px;
}

form button {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #ff8522;
  border-radius: 25px;
  transition: 0.5s;
  border: 0;
  font-weight: 700;
}

form button:hover {
  color:#dd2c00;
}
