 <!-- Codigo del componente Ecommerce agregar -->
  <div class="justify-content-center">
    <div>
      <label for="">Nueva Ecommerce</label>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label> Titulo del sitio</label>
            <input class="form-control" type="text" placeholder="Ingrese la nueva cantidad">
          </div>
          <div class="form-group">
            <label> Descripcion del sitio</label>
            <input class="form-control" type="text" placeholder="Ingrese la nueva cantidad">
          </div>
          <div class="form-group">
            <label> Slug del sitio</label>
            <input class="form-control" type="text" placeholder="Ingrese la nueva cantidad">
          </div>
        </div>

        <div class="col-6">
          <div class="form-group alinear-vertical">
            <label> Subir Favicon</label>
            <input type="file">
          </div>
          <div class="form-group alinear-vertical">
            <label> Subir Logotipo</label>
            <input type="file">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <label class="label-editor">CSS</label>
          <ace-editor theme="monokai" mode="css" class="ace-editor" ></ace-editor>
        </div>
        <div class="col-6">
          <label class="label-editor">Javascript</label>
          <ace-editor theme="monokai" mode="javascript" class="ace-editor" ></ace-editor>
        </div>
      </div>
      <button type="submit" class="btn btn-crear">Aceptar</button>

    </div>
  </div>
