 <!-- Codigo del componente Ecommerce agregar -->
<div class="justify-content-center">
  <div>
    <label id="label-titulo" for="">Diseñar Ecommerce</label>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label> Titulo de la página</label>
          <input class="form-control" type="text" placeholder="Ingrese el título de la página">
        </div>
        <div class="form-group">
          <label> Descripcion de la página</label>
          <input class="form-control" type="text" placeholder="Ingrese la descripción">
        </div>
        <div class="form-group">
          <label> Slug de la página</label>
          <input class="form-control" type="text" placeholder="Ingrese el slug">
        </div>
      </div>

      <div class="col-6">
        <div class="form-group alinear-vertical">
          <button class="btn btn-generico">Vista previa</button>
        </div>
        <div class="form-group alinear-vertical">
         <button class="btn btn-generico">Mostrar Shortcuts</button>
        </div>
        <div class="form-group alinear-vertical">
          <!-- <button class="btn btn-generico">Nuevo bloque</button> -->
          <button type="button" class="btn btn-generico" (click)="openLG(contenido)">Nuevo bloque</button>
         </div>
      </div>
    </div>

    <h3 >probando </h3>
    <div class="row">
      <div *ngIf="bloques[0]" class="col-{{bloques[0].mobile}} col-lg-{{bloques[0].desktop}}" style="background-color: orange;">columna 1</div>
      <div *ngIf="bloques[1]" class="col-{{bloques[1].mobile}} col-lg-{{bloques[1].desktop}}" style="background-color: palegoldenrod;">columna 2</div>
      <div *ngIf="bloques[2]" class="col-{{bloques[2].mobile}} col-lg-{{bloques[2].desktop}}" style="background-color: rgb(188, 253, 255);">columna 2</div>
    </div>

    <button type="submit" class="btn btn-crear">Aceptar</button>

    <ng-template #contenido let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Titulo del Modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label> POSICION</label>
          <input class="form-control" [(ngModel)]="bloque.posicion" type="text" placeholder="Ingrese la posicion">
        </div>
        <div class="form-group">
          <label>No. Columnas Desktop</label>
          <input class="form-control" [(ngModel)]="bloque.colDesktop" type="text" placeholder="Columnas en tamaño escritorio">
        </div>
        <div class="form-group">
          <label>No. Columnas Mobile</label>
          <input class="form-control" [(ngModel)]="bloque.colMobile" type="text" placeholder="Columnas en tamaño mobile">
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" (click)="modal.close()">Ok!</button> -->
        <button type="button" class="btn btn-success" (click)="guardarBloque()">Ok!</button>
      </div>
    </ng-template>

  </div>
</div>
