#div-inicio {
  height: 320px;
  width: 99.4vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #00bcd4;
}

#col-img {
 margin-top: auto;
}

#col-eslogan {
  margin-top: auto;
}

#div-imgInicio {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

#div-esloganInicio {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 8%;
  color: white;
}

#label-titulo {
  font-size: 35px;
  font-weight: 600;
}

#label-descripcion {
  font-size: 20px;
  font-weight: 500;
}

#div-forma-svg {
  width: 99.4vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -1px;
  border-top: 0px;
}

.div-secciones {
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  /* background-color: rgb(220, 232, 255); */
}

.label-servicios {
  text-align: center;
  display: block;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 25px;
}

.div-servicios {
  /* margin-top: 20px; */
  text-align: center;
}

.div-servicios img {
  display: block;
  margin: auto;
  height: 120px;
}

.div-servicios label {
  font-size: 26px;
  font-weight: 700;
}

.t-center {
  display: block;
  text-align: center;
}

.div-servicios p {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}

#planes {
  /* height: 320px; */
  width: 99.4vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.blue{
  background-color: #00bcd4;
}

.blue .label-servicios {
  color: white;
}

#label-plan1{
  font-size: 26px;
  font-weight: 700;
  padding-right: 25%;
  display: block;
  text-align: right;
  margin-top: 10px;
}

#label-plan2{
  font-size: 26px;
  font-weight: 700;
  padding-left: 25%;
  margin-top: 10px;
}

#lista1 {
  display: block;
  float: right;
  padding-right: 15%;
  font-size: 20px;
}

#lista2 {
  display: block;
  padding-left: 15%;
  font-size: 20px;
}

#row-planes {
  background-color: #ff8522;
  /* border: 10px solid #ff5722; */
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 60px;
  color: #ffffff;
  height: 240px;

}

#btn-p1 {
  color: #ffffff;
  background-color: #dd2c00;
  margin-top: 15px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  font-weight: 700;
}

#btn-p2 {
  color: #ffffff;
  background-color: #dd2c00;
  margin-top: 15px;
  display: block;
  margin-left: 20%;
  border-radius: 15px;
  font-weight: 700;
}

#btn-p1:hover {
  background-color: #ff5722;
  font-size: 18px;
}

#btn-p2:hover {
  background-color: #ff5722;
  font-size: 18px;
}

@media (max-width: 575.98px) {
  #div-inicio {
    height: 400px;

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* background-color: #0099ff; */
    background-color: #00bcd4;
  }

  #div-imgInicio {
    width: auto;
  }

  #col-eslogan {
    margin-top: 0px;
  }

  #label-titulo {
    font-size: 20px;
    font-weight: 600;
  }

  #label-descripcion {
    font-size: 14px;
    font-weight: 500;
  }

  #div-forma-svg {
    width: 100vw;
    /* position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; */
  }
}

@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }
