<app-navbar></app-navbar>
<div class="container">

  <div id="div-inicio" class="row">
    <div id="col-img" class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div id="div-imgInicio">
        <img class="img-fluid" src="assets/images/inicio-icon2.gif" alt="">
      </div>
    </div>
    <div id="col-eslogan" class="col-12 col-sm-12 col-md-6 col-lg-6 ">
      <div id="div-esloganInicio">
        <label id="label-titulo">Crea tu presencia en la web y crece tu negocio</label>
        <label id="label-descripcion">Nuestra plataforma te permite crear tu propia
          tienda electronica en solo un par de clics. </label>
      </div>
    </div>
  </div>
  <div id="div-forma-svg">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#0099ff" fill-opacity="1" d="M0,320L80,309.3C160,299,320,277,480,240C640,203,800,149,960,117.3C1120,85,1280,75,1360,69.3L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg> -->

   <!--  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 300">
      <path fill="#000cd4" fill-opacity="1" d="M0,160L80,149.3C160,139,320,117,480,138.7C640,160,800,224,960,224C1120,224,1280,160,1360,128L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
    </svg> -->

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#00bcd4" fill-opacity="1" d="M0,256L48,218.7C96,181,192,107,288,64C384,21,480,11,576,21.3C672,32,768,64,864,85.3C960,107,1056,117,1152,106.7C1248,96,1344,64,1392,48L1440,32L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
    </svg>
  </div>
</div>

<div class="container">
  <div class="div-secciones">
    <label class="label-servicios" for="">Servicios</label>
    <div class="row">
      <div class="col-6">
        <div class="div-servicios">
          <img src="assets/icons/empresas.png" alt="">
          <label for="">Asesoría para tu empresa</label>
          <p>En OpenShop estamos de tu lado, te proporcionaremos asesoria técnica y de mercadeo </p>
        </div><br>

        <div class="div-servicios">
          <img  src="assets/icons/ecommerce.png" alt="">
          <label for="">Creacion de ecommerce</label>
          <p>Proveemos de una intuitiva interfaz de creacion y personalizacion de sitio web</p>
        </div>
      </div>

      <div class="col-6">
        <div class="div-servicios">
          <img  src="assets/icons/users.png" alt="">
          <label for="">Acceso a una amplia red de usuarios</label>
          <p>Nuestro ecosistema de usuarios es amplio y activo, tu ecommerce tendra una importante
            afluenza</p>
        </div><br>
        <div class="div-servicios">
          <img src="assets/icons/hosting.png" alt="">
          <label for="">Hosting de ecommerce</label>
          <p>Ofrecemos soluciones escalables que puedes necesitar a medida tu web crezca</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Planes -->
  <div id="planes" class="div-secciones">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#00bcd4" fill-opacity="1" d="M0,128L60,154.7C120,181,240,235,360,218.7C480,203,600,117,720,106.7C840,96,960,160,1080,202.7C1200,245,1320,267,1380,277.3L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>

    <div class="blue">
      <label class="label-servicios" for="">Planes</label>
      <div class="row">
        <div class="col-6">
          <div>
            <label class="t-center" for="">Plan Básico</label>
              <ul class="lista">
                <li>3 Plantillas para elegir</li>
                <li>3 Paginas de menu</li>
                <li>1 Cuenta administrador</li>
                <li> Hosting de 100 mb</li>
              </ul>
          </div>
        </div>
        <div class="col-6">
          <div>
            <label class="t-center" for="">Plan Pro</label>
            <ul class="lista">
              <li>6 Plantillas para elegir</li>
              <li>Paginas ilimitadas</li>
              <li>Cuentas ilimitadas</li>
              <li>Hosting de capacidad ilimitada</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#00bcd4" fill-opacity="1" d="M0,128L60,154.7C120,181,240,235,360,218.7C480,203,600,117,720,106.7C840,96,960,160,1080,202.7C1200,245,1320,267,1380,277.3L1440,288L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
    </svg>
  </div>


</div>

<app-footer></app-footer>
