
<body>
  <div class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Openshop Admin</h3>
          <strong>OA</strong>
      </div>

      <ul class="list-unstyled components">
          <li class="active">
              <a href="#homeSubmenu" aria-expanded="false" >
                  <i class="fas fa-home"></i>
                  Inicio
              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fas fa-briefcase"></i>
                  Empresas
              </a>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <!-- <i class="fas fa-copy"></i> -->
                  <i class="fas fa-folder-open"></i>
                  Planes
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a href="#">Plan Básico</a>
                  </li>
                  <li>
                      <a href="#">Plan Pro</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#shortcutSubmenu" data-toggle="collapse" class="dropdown-toggle">
                  <i class="fas fa-image"></i>
                  Shortcuts
              </a>
              <ul class="collapse list-unstyled" id="shortcutSubmenu">
                <li>
                    <a href="#">Imagenes</a>
                </li>
                <li>
                    <a href="#">Galerias</a>
                </li>
                <li>
                  <a href="#">Caja de texto</a>
                </li>
                <li>
                  <a href="#">Menu</a>
                </li>
                <li>
                  <a href="#">Login</a>
                </li>
            </ul>
          </li>
            <li>
              <a href="#metodosPago" data-toggle="collapse" class="dropdown-toggle">
                <i class="fas fa-money-bill-wave"></i>
                  Metodos de pago
              </a>
              <ul class="collapse list-unstyled" id="metodosPago">
                <li>
                  <a href="#">Ver metodos de pago</a>
                </li>
                <li>
                  <a href="#">Agregar metodo de pago</a>
                </li>
              </ul>
            </li>
      </ul>
    </nav>

      <!-- Page Content  -->
      <div id="content">

        <app-admin-header></app-admin-header>

          <h2>Collapsible Sidebar Using Bootstrap 4</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
             incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
             exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
             dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
             Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
             anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <div class="line"></div>

          <h2>Lorem Ipsum Dolor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
             Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
             nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
             deserunt mollit anim id est laborum.</p>


      </div>
    </div>

</body>

