
<body>
  <div class="wrapper">

    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
          <h3><img src="assets/icons/logo-cortado.png" alt="" height="100"></h3>
          <strong>OA</strong>
      </div>

      <ul class="list-unstyled components">
          <li class="active">
              <a routerLink="home" aria-expanded="false" >
                  <i class="fas fa-home"></i>
                  Inicio
              </a>
          </li>
          <li>
              <a routerLink="empresas">
                  <i class="fas fa-briefcase"></i>
                  Empresas
              </a>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                  <!-- <i class="fas fa-copy"></i> -->
                  <i class="fas fa-folder-open"></i>
                  Planes
              </a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                      <a routerLink="nuevo-plan">Nuevo Plan</a>
                  </li>
                  <li>
                      <a href="#">Ver Planes</a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#shortcutSubmenu" data-toggle="collapse" class="dropdown-toggle">
                  <i class="fas fa-image"></i>
                  Atajos
              </a>
              <ul class="collapse list-unstyled" id="shortcutSubmenu">
                <li>
                    <a href="#">Imagenes</a>
                </li>
                <li>
                  <a href="#">Videos</a>
              </li>
                <li>
                    <a href="#">Galerias</a>
                </li>
                <li>
                  <a href="#">Caja de texto</a>
                </li>
                <li>
                  <a href="#">Menu</a>
                </li>
                <li>
                  <a href="#">Login</a>
                </li>
            </ul>
          </li>
            <li>
              <a href="#metodosPago" data-toggle="collapse" class="dropdown-toggle">
                <i class="fas fa-file-code"></i>
                  Plantillas
              </a>
              <ul class="collapse list-unstyled" id="metodosPago">
                <li>
                  <a href="#">Ver plantillas</a>
                </li>
                <li>
                  <a href="#">Agregar plantillas</a>
                </li>
              </ul>
            </li>
      </ul>
    </nav>

      <!-- Page Content  -->
      <div id="content">

        <app-admin-header></app-admin-header>

        <router-outlet></router-outlet>

      </div>
    </div>

</body>

