<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 col-5" >
      <div class="div-register">
        <label id="label-plan">Nuevo Plan</label>
        <form>

          <div class="form-group">
            <label>Numero de plantillas para elegir</label>
            <input type="number" class="form-control" id="plantillas" name="plantillas" placeholder="Ingrese cantidad de plantillas">
          </div>
          <div class="form-group">
            <label>Numero de paginas del menu</label>
            <input type="number" class="form-control" id="paginas" name="paginas" placeholder="Ingrese cantidad de paginas">
          </div>
          <div class="form-group">
            <label>Numero de cuentas</label>
            <input type="number" class="form-control" id="cuentas" name="cuentas" placeholder="Ingrese cantidad de cuentas">
          </div>
          <div class="form-group">
            <label>Capacidad de almacenamiento en MegaBytes (MB)</label>
            <input type="number" class="form-control" id="almacenamiento" name="almacenamiento" placeholder="Ingrese almacenamiento">
          </div>
          <button type="submit" class="btn btn-plan-aceptar">Aceptar</button>
        </form>

      </div>

    </div>

  </div>
</div>
